front-end/front-office-mobile/AppShareWorld/node_modules/**/*
front-end/front-office-mobile/AppShareWorld/.expo/*
front-end/front-office-mobile/AppShareWorld/npm-debug.*
back-end/api/node_modules/**/*
back-end/api/.env
back-end/api/uploads/*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
front-end/front-office-mobile/AppShareWorld/web-build/
.expo/*
# macOS
.DS_Store