front-end/front-office-mobile/appshareworld/node_modules/
front-end/front-office-mobile/appshareworld/.expo/
front-end/front-office-mobile/appshareworld/npm-debug.*
back-end/api/node_modules/**/*
back-end/api/.env
back-end/api/uploads/*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
front-end/front-office-mobile/appShareWorld/web-build/
.expo/*
# macOS
.DS_Store